<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOOTER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="container text-center text-md-left">
            
            <div class="row text-center text-md-left">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a style="text-decoration: none;" href="{% url 'introPage:home-page' %}"><h4 class="mb-4 font-weight-bold text-warning">TOP Gz SHOE SHOP</h4></a>
                    <p>
                        The oldest known shoes in the world were discovered in Fort Rock Cave in Oregon, USA, and are estimated to be around 9,000 years old.  
                    </p>
                    <p>
                        In the 19th century, shoes were often made to be worn on either foot. It wasn't until the 1850s that left and right shoes were produced.
                    </p>                  
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a style="text-decoration: none;" href="{% url 'introPage:home-page' %}"><h5 class="text-uppercase mb-4 font-weight-bold text-warning">The Shop</h5></a>

                <p>
                    <a href="{% url 'brands:catalogue' %}" class="text-white" style="text-decoration: none;">Our Products</a>
                </p>
                <p>
                    <a href="{% url 'introPage:about-page' %}" class="text-white" style="text-decoration: none;">About Us</a>
                </p>
                <p>
                    <a href="{% url 'introPage:team-page' %}" class="text-white" style="text-decoration: none;">Team</a>
                </p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    {% if user.is_authenticated %}
                        <a style="text-decoration: none;"><h5 class="text-uppercase mb-4 font-weight-bold text-warning">{{ request.user }}</h5></a>
                    {% else %}
                        <a style="text-decoration: none;"><h5 class="text-uppercase mb-4 font-weight-bold text-warning">Experience with us</h5></a>

                    {% endif %}
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'accounts:password_change' %}" class="text-white" style="text-decoration: none;">Edit Password</a>
                        </p>
                        <p>
                            <a href="{% url 'accounts:profile_details' %}" class="text-white" style="text-decoration: none;">View Profile</a>
                        </p>
                        <p>
                            <a href="{% url 'orders:my_orders' %}" class="text-white" style="text-decoration: none;">My Orders</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'servicesPage:services-page' %}" class="text-white" style="text-decoration: none;">Our Services</a>
                        </p>
                        <p>
                            <a href="{% url 'brands:catalogue' %}" class="text-white" style="text-decoration: none;">Place Order</a>
                        </p>
                        <p>
                            <a href="{% url 'accounts:sign_up' %}" class="text-white" style="text-decoration: none;">Join Us</a>
                        </p>
                    {% endif %}
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacts</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-map-marker-alt mr-3"></i>
                        </div>
                        <div class="col-md-8">
                            <a href="https://www.google.com/maps/search/?api=1&query=-1.2641,36.8116" style="text-decoration: none; color: white;"><p>Nairobi, Kenya(047)</p></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-envelope mr-3"></i>
                        </div>
                        <div class="col-md-9">
                            <a href="mailto: zebbynjau@gmail.com" style="text-decoration: none; color: white;"><p>zebbynjau@gmail.com</p></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-phone mr-3"></i>
                        </div>
                        <div class="col-md-7">
                            <a href="tel: +254 719 204 467" style="text-decoration: none; color: white;"><p>+254 719 204 467</p></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fab fa-whatsapp fa-2x mr-3" style="color: green;"></i>
                        </div>
                        <div class="col-md-7">
                            <a href="https://wa.me/0773253606" style="text-decoration: none; color: white;"><p>+254 773 253 606</p></a>
                        </div>
                    </div>
                </div>

                <!-- <hr class="mb-4">

                <div class="row align-items-center">

                    <div class="col-md-7 col-lg-8">
                        <p> © 2023 Top Gz, Inc. All Rights Reserved by:
                            <a href="https://github.com/zebbyG" style="text-decoration: none;">
                                <strong class="text-warning">The Top G</strong>
                            </a>
                        </p>

                    </div>

                </div> -->

                <div class="col-md-5 col-lg-4">
                    <div class="text-right text-md-right">

                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/zebby_G" class="btn-floating btn-sm"><i class="fab fa-twitter" style="font-size: 23px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://medium.com/@ZebbyG" class="btn-floating btn-sm text-black"><i class="fab fa-medium" style="font-size: 23px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/zebbyG" class="btn-floating btn-sm text-white"><i class="fab fa-github" style="font-size: 23px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/zebbylion-njau/"><i class="btn-floating btn-sm fab fa-linkedin" style="font-size: 23px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="btn-floating btn-sm fab fa-youtube" style="font-size: 23px; color: red;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="btn-floating btn-sm fab fa-instagram" style="font-size: 23px; color: purple;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="btn-floating btn-sm fab fa-facebook" style="font-size: 23px;"></i></a>
                            </li>

                        </ul>

                    </div>

                </div>
                
                <hr class="mb-4">

                <div class="row align-items-center">

                    <div class="col-md-7 col-lg-8">
                        <p id="currentYear">&#169; <span id="year"></span> Top Gz, Inc. All Rights Reserved by:
                            <a href="https://github.com/zebbyG" style="text-decoration: none;">
                                <strong class="text-warning">The Top G</strong>
                            </a>
                        </p>

                    </div>

                </div>

            </div>

        </div>
    </div>

</footer>
<script>
    var currentYear = new Date().getFullYear();
    document.getElementById("year").textContent = currentYear;
</script>
</body>
</html>
