{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>CHANGE YOUR PASSWORD</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<br><br>
<form class="site-form" action="{% url 'accounts:password_change' %}" method="post">
    {% csrf_token %}
    {{ edit_password_form }} <br><br>
    <input type="submit" value="update password">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>