{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHANGE PASSWORD</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>CHANGE YOUR PASSWORD</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<br><br>
<form class="site-form" action="{% url 'accounts:password_change' %}" method="post">
    {% csrf_token %}
    {{ edit_password_form }} <br><br>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <br><br>
    <em>If <small style="font-weight: bold;">password is changed successfully </small>you'll be redirected to <small style="font-weight: bold">log in</small>...</em>
    <br><br>
    <input type="submit" value="change my password">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>