{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT PROFILE</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>EDIT PROFILE</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<br><br>
<form class="site-form" action="{% url 'accounts:edit_profile' %}" method="post">
    {% csrf_token %}
    <em style="font-weight: bold;">Username:</em><br>
    {{ edit_profile_form.username }}
    <em style="font-weight: bold;">First Name:</em><br>
    {{ edit_profile_form.first_name }}
    <em style="font-weight: bold;">Last Name:</em><br>
    {{ edit_profile_form.last_name }}
    <em style="font-weight: bold;">Email:</em><br>
    {{ edit_profile_form.email }}
    <em>If any changes have been made <small style="font-weight: bold;">update profile</small> before <a href="{% url 'accounts:password_change' %}" style="text-decoration: none;">changing your password</a></em><br><br>
    <input type="submit" value="update profile">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>