{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>LOG IN</strong><!-- page-header.css for custom container styling -->
    </h3>
    <em>
        Don't have an account?...<a style="text-decoration: none;" href="{% url 'accounts:sign_up' %}">Sign Up</a>
    </em>
</div>
<br><br>

<form class="site-form" action="{% url 'accounts:log_in' %}" method="post">
    {% csrf_token %}
    <div style="margin-left: 570px">
        <em style="font-weight: bold;">Username:</em><br>
        Required: <small style="font-weight: bold;">no spacing</small><br>
        {{ log_in_form.username }}<br><br>
        <em style="font-weight: bold;">Password:</em><br>
        {{ log_in_form.password }}<br><br>
        <small style="color: red;">{{ log_in_form.errors }}</small>
    </div>
    <div style="margin-left: 630px">
        {% if request.GET.next %}
            <br>input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <br><input type="submit" value="log in">
    </div>
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>