{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE DETAILS</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>{{ request.user }} details</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<table class="table table-hover square-table" style="width: 400px; margin-left: auto; margin-right: auto;">
  <thead>
<br>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold;">First Name</td>
      <td>{{ request.user.first_name }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Last Name</td>
      <td>{{ request.user.last_name }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Email</td>
      <td>{{ request.user.email }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Username</td>
      <td>{{ request.user.username }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Date Joined</td>
      <td>{{ request.user.date_joined }}</td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Last Log in</td>
      <td>{{ request.user.last_login }}</td>
    </tr>
  </tbody>
</table>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>