{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN-UP</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>SIGN UP</strong><!-- page-header.css for custom container styling -->
    </h3>
    <em>
        if registered... <a style="text-decoration: none;" href="{% url 'accounts:log_in' %}">Log in</a>
    </em>
</div>
<form class="site-form" action="{% url 'accounts:sign_up' %}" method="post">
    {% csrf_token %}
    {{ sign_up_form }}
    <input type="submit" value="signup">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>