{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD-TO-CART</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>PLACE ORDER(s)</strong>
    </h3>
</div>
<br><br>
<h1>Place your orders here</h1>
<br><br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>