{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JORDANS</title>
    <link rel="stylesheet" href="{% static 'page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<!-- JORDAN SHOES -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>JORDAN SHOES</strong>
    </h3>
</div>
<br><br>
<!-- SEARCH BUTTON----JS IN assets/search.js -->
<div style="display: flex; justify-content: center;">
    <form class="d-flex" role="search" style="width: 50%;">
        <input class="form-control me-2" type="search" placeholder="Search for Jordan shoes" aria-label="Search" id="search-input">
        <button id="search-button" class="btn btn-outline-secondary" type="submit" onclick="performSearch();">
            <i class="fa fa-search"></i>
        </button>
        <div style="flex-grow: 1;"></div>
    </form>
</div>
<br>
<div class="row" style="background-color: grey;">
    {% for all_shoes in jordan_shoes %}
    <div class="card" style="width: 23rem; margin-right: 20px; margin-top: 20px;">
        <img src="{{ all_shoes.shoe_image.url }}" class="card-img-top" alt="shoe" style="object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">{{ all_shoes.shoe_name }}</h5>
            <p class="card-text">{{ all_shoes.shoe_gender }}</p>
            {% for color in all_shoes.shoe_color_available.all %}
            <p class="card-text">{{ color.color_name }}</p>
            {% endfor %}
            <p class="card-text"><strong>Now: ${{ all_shoes.shoe_price }}</strong><br><em>Was:<s> ${{ all_shoes.shoe_price_was }}</s></em></p>
            {% if all_shoes.shoe_in_stock %}
                <p>In stock</p>
                <a href="{% url 'brands:add_to_cart' %}" class="btn btn-primary">Add to cart</a>
            {% else %}
                <p>Out of stock</p>
                <a class="btn btn-primary disabled">Add to cart</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'search.js' %}"></script>
<br><br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>