{% load static %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="position: fixed; width: 100%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'introPage:home-page' %}"><img src="{% static 'topg-logo.gif' %}" style="width: 60px;" alt="GIF"></a>
    <!-- <a class="navbar-brand" href="{% url 'introPage:home-page' %}"><i class="fas fa-home fa-2x mr-3"></i></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'introPage:home-page' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/our-catalogue/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
          </a>
          <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'brands:catalogue' %}">Our Catalogue</a></li>
<!--            <li><a class="dropdown-item" href="{% url 'brands:Jordans' %}">Jordans</a></li>-->
<!--            <li><a class="dropdown-item" href="{% url 'brands:Nikes' %}">Nikes</a></li>-->
<!--&lt;!&ndash;            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--            <li><a class="dropdown-item" href="{% url 'brands:Vans' %}">Vans</a></li>-->
<!--            <li><a class="dropdown-item" href="{% url 'brands:Yeezys' %}">Yeezys</a></li>-->
<!--            <li><a class="dropdown-item" href="{% url 'brands:Pradas' %}">Pradas</a></li>-->
            <li><a class="dropdown-item" href="{% url 'brands:shoes_accessories' %}">Shoes Accessories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/shop_services/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'servicesPage:order-shoes' %}">Place an order</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:customize_shoes' %}">Customize Shoes</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="{% url 'servicesPage:trade' %}">Trade With Us</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:donate_shoes' %}">Donate Shoes</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:customer_service' %}">Customer Service</a></li>
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="{% url 'introPage:contacts-page' %}">Contact Us</a>-->
<!--        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/shop_services/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our company
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'introPage:team-page' %}">Team</a></li>
            <li><a class="dropdown-item disabled" href="#">Our investors</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item disabled" href="#">Careers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'introPage:about-page' %}">About Us</a>
        </li>
      </ul>
  {% if user.is_authenticated %}
      <div class="dropdown" style="margin-right: 120px;">
        {% if user.userprofile.profile_picture %}
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                <img class="rounded-circle" src="{{ user.userprofile.profile_picture.url }}" style="object-fit: cover; width: 70px; height: 70px;" alt="Profile Picture">
            </a>
        {% else %}
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                          <span class="user-icon">
                            <i class="fas fa-user" style="color: white; font-size: 35px;"></i>
                            <i class="fas fa-check" style="color:rgb(23, 219, 23)"></i>
                          </span>
                          <small style="font-size: 20px;">Hi, {{ request.user }}</small>
            </a>
        {% endif %}
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">
                  <button type="submit" class="btn btn-outline-info">Edit profile</button>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'accounts:profile_details' %}">
                  <button type="submit" class="btn btn-outline-info">View Profile</button>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'accounts:password_change' %}">
                  <button type="submit" class="btn btn-outline-info">Change password</button>
                </a>
              </li>
              <form class="dropdown-item" action="{% url 'accounts:log_out' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">log out</button>
              </form>
            </ul>
      </div>

<!--          <li class="nav-item">-->
<!--              <a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <form class="logout" action="{% url 'accounts:log_out' %}" method="post">-->
<!--              {% csrf_token %}-->
<!--              <button type="submit" class="btn btn-outline-danger" style="margin-right: 50px;">log out</button>-->
<!--            </form>-->
<!--          </li>-->
  {% else %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:sign_up' %}">
            <button type="button" class="btn btn-outline-warning" style="margin-top: 15px;">Sign up</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:log_in' %}">
            <button type="button" class="btn btn-outline-success" style="margin-top: 15px;">Log in</button>
          </a>
        </li>
<!--        <li class="nav-item">-->
<!--          <form class="logout" action="{% url 'accounts:log_out' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit" class="btn btn-outline-danger" style="margin-top: 23px;">log out</button>-->
<!--          </form>-->
<!--        </li>-->
      </ul>
  {% endif %}
    </div>
  </div>
</nav>
</body>
