<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'introPage:home-page' %}"><i class="fas fa-home fa-2x mr-3"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'introPage:home-page' %}">Top Gz</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/our-catalogue/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'brands:jordans' %}">Jordans</a></li>
            <li><a class="dropdown-item" href="{% url 'brands:nikes' %}">Nikes</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="{% url 'brands:vans' %}">Vans</a></li>
            <li><a class="dropdown-item" href="{% url 'brands:yeezys' %}">Yeezys</a></li>
            <li><a class="dropdown-item" href="{% url 'brands:pradas' %}">Pradas</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:shoes_accessories' %}">Shoes Accessories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/shop_services/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'servicesPage:order-shoes' %}">Order Shoes</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:customize_shoes' %}">Customize Shoes</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="{% url 'servicesPage:trade' %}">Trade With Us</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:donate_shoes' %}">Donate Shoes</a></li>
            <li><a class="dropdown-item" href="{% url 'servicesPage:customer_service' %}">Customer Service</a></li>
          </ul>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="{% url 'introPage:contacts-page' %}">Contact Us</a>-->
<!--        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/shop_services/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our company
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'introPage:team-page' %}">Team</a></li>
            <li><a class="dropdown-item disabled" href="#">Our sponsors</a></li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item disabled" href="#">Careers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'introPage:about-page' %}">About Us</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--        </li>-->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

