{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<!-- ABOUT PAGE -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>ABOUT US</strong>
    </h3>
</div>
<br><br>
<h3 class="display-3" style="text-align: center; color:gray">
    <strong>THE SHOP</strong>
</h3>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="display-6" style="padding-top: 20px; font-size: xx-large">
                Top Gz is an online shoe shop that offers a wide range of high-quality footwear for customers. From stylish sneakers to comfortable sandals, our platform has it all. Our collection is constantly updated with the latest trends and styles to ensure that you can always find the perfect pair of shoes for your needs. With our user-friendly interface, shopping for shoes has never been easier.<br>At Top Gz, we take pride in providing excellent customer service, so you can shop with confidence. Whether you're looking for a specific style or just want to browse, Top Gz is your one-stop-shop for all your shoe needs.
            </p>
        </div>
        <div class="col-md-6" style="padding-top: 20px;">
            <img src="{% static 'About1.jpg' %}" class="figure-img img-fluid rounded" style="width: 100%; height: auto; object-fit: cover;" alt="...">
            <br><br><br><br><br>
        </div>
    </div>
</div>
<h3 class="display-3" style="text-align: center; color:gray">
    <strong>HOW WE WORK</strong>
</h3>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="display-6" style="padding-top: 20px; font-size: xx-large">
                Top Gz is an online shoe shop that makes shopping for shoes easy and convenient. Our platform provides customers with a vast selection of footwear, including sneakers, sandals, boots, and more. To begin your shopping experience, simply visit our website and browse through our collection.<br>At Top Gz, we strive to provide the best possible shopping experience, from the convenience of online shopping to our excellent customer service. Whether you're looking for a specific pair of shoes or just want to browse, Top Gz has you covered.
            </p>
        </div>
        <div class="col-md-6" style="padding-top: 20px;">
            <img src="{% static 'About2.jpg' %}" class="figure-img img-fluid rounded" style="width: 100%; height: auto; object-fit: cover;" alt="...">
            <br><br><br><br><br>
        </div>
    </div>
</div>
<h3 class="display-3" style="text-align: center; color:gray">
    <strong>OUR HISTORY</strong>
</h3>
<br><br><br>

<div class="container">
    <p class="display-6" style="padding-top: 20px; font-size: xx-large">
        Top Gz, a renowned shoe shop, was founded in early 2022 by Zebbylion Njau, an enterprising and passionate entrepreneur. With a vision to provide customers with top-quality footwear and exceptional service, Zebbylion embarked on a journey to establish a thriving shoe retail business.
    </p>
    <p class="display-6" style="padding-top: 20px; font-size: xx-large">
        The inception of Top Gz marked a new chapter in the footwear industry. Team's keen understanding of market trends, coupled with his passion for fashion and style, drove the creation of a curated collection of shoes that catered to diverse tastes and preferences. From casual sneakers to elegant dress shoes, Top Gz offered a wide range of options to satisfy every customer's needs.
    </p>
    <p class="display-6" style="padding-top: 20px; font-size: xx-large">
        With the team's commitment to excellence extended beyond the product selection. Recognizing the growing importance of online shopping, he invested in creating a seamless and user-friendly online platform that allowed customers to explore and purchase their favorite shoes conveniently.
    </p>
    <p class="display-6" style="padding-top: 20px; font-size: xx-large">
        With the team's astute business acumen and dedication to customer satisfaction, Top Gz quickly gained popularity and became a trusted destination for shoe enthusiasts. The shop's commitment to quality, style, and exceptional service fostered a loyal customer base and propelled its growth.
    </p>
    <p class="display-6" style="padding-top: 20px; font-size: xx-large">
        Today, Top Gz stands as a testament to Zebbylion Njau's entrepreneurial spirit and unwavering commitment to delivering the best footwear experience to customers. With a strong foundation and a passion for innovation, Top Gz continues to thrive and shape the shoe retail landscape.
    </p>
</div>
<br><br><br>

{% include 'baseshop_footer.html' %}
</body>
</html>