{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIKES</title>
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<!-- CONTACT US -->
<div class="custom-container">
    <h3 class="display-3">
        <strong>CONTACT US</strong>
    </h3>
</div>
<br><br>

{% include 'baseshop_footer.html' %}
</body>
</html>