Dear {{ name }},
Thank you for shopping on Top Gz! Your order {{ order_id }} has been successfully confirmed.

It will be packaged and shipped as soon as possible. Once the item(s) is out for delivery or available for pick-up you will receive a notification from us.

Check the orders progress and order details here https://topgz-ebby.up.railway.app/orders/my_orders/

Thank you for shopping on Top Gz.


Please note:

If you ordered for multiple items, you may receive them on different days.
This is because they are sold by different sellers on our platform and we want to make each item available to you as soon as possible after receiving it.