{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESET PASSWORD</title>
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>RESET YOUR PASSWORD</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<br><br>
<form class="site-form" method="post">
    {% csrf_token %}
    {{ form }}
    <br><br>
    <input type="submit" value="Reset password">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>