{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SIGN-UP</title>
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>SIGN UP</strong><!-- page-header.css for custom container styling -->
    </h3>
    <em style="color: black;">
        Already have an account?... <a style="text-decoration: none;" href="{% url 'accounts:log_in' %}">Log in</a>
    </em>
</div>
<br><br>
<form class="site-form" action="{% url 'accounts:sign_up' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <em style="font-weight: bold;">Username:</em><br>
    <em>Required:<small style="font-weight: bold"> 4 - 150 characters. Letters, digits and @/./+/-/_ only<small>...</small><em style="font-weight: bold; font-size: 20px;">no spacing</em></small></em><br>
    {{ sign_up_form.username }}<br>
    <em style="font-weight: bold;">First name:</em><br>
    {{ sign_up_form.first_name }}
    <em style="font-weight: bold;">Last name:</em><br>
    {{ sign_up_form.last_name }}
    <em style="font-weight: bold;">Email:</em><br>
    {{ sign_up_form.email }}
    <em style="font-weight: bold;">Profile picture:</em><small> (optional)</small><br>
    {{ sign_up_form.profile_pic }}
    <em style="font-weight: bold;">Password:</em><br>
    {{ sign_up_form.password1 }}
    <small style="color: red;">{{ sign_up_form.errors }}</small>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <em style="font-weight: bold;">Password confirmation:</em><br>
    {{ sign_up_form.password2 }}
    <br><em>Enter the same password as <small style="font-weight: bold;"> before </small>for verification</em><br><br>
    <input type="submit" class="btn btn-outline-secondary" value="signup">
</form>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>