{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEAM</title>
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
    
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .figure {
            flex-basis: 33.33%;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<!-- THE TEAM -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>OUR TEAM</strong>
    </h3>
    </div>
    <br>
    <div class="container">
        <img class="img-fluid" style="width: 18000px; height: 300px; object-fit: cover;" src="{% static 'Team-main.jpg' %}" alt="team.jpg">
    </div>
    <br><br>
    <h3 class="display-3" style="text-align: center; color:gray">
        <strong>LEADERSHIP</strong>
    </h3>
    <br><br>
    <div class="row">
    <figure class="figure">
        <img src="{% static 'zebby.jpg' %}" class="figure-img img-fluid rounded" style="width: 400px; height: 600px; object-fit: cover;margin-left: 20px;" alt="...">
        <figcaption class="figure-caption">
            <a style="text-decoration: none; cursor: grab;" class="h5">Zebbylion Njau</a>
            <br><br>
            <strong>Back-end Engineer</strong>
            <a href="https://www.linkedin.com/in/zebbylion-njau/"><i class="btn-floating btn-sm fab fa-linkedin" style="font-size: 23px;"></i></a>
            <a href="https://github.com/zebbyG" class="btn-floating btn-sm text-white"><i class="fab fa-github" style="font-size: 23px; color:black"></i></a>
            <br><br>
            <p style="cursor: grab;">
                Zebbylion Njau is an accomplished individual in the field of backend engineering, recognized for his exceptional skills and leadership abilities. As a Backend Engineer and Team Leader, Zebbylion plays a pivotal role in driving the success of projects with his technical expertise and strong managerial capabilities. As the backend engineer for the Top Gz shoe shop, Zebbylion spearheaded the development and implementation of the website's backend infrastructure. His technical prowess allowed him to architect and optimize the server-side components, ensuring smooth functionality and seamless integration with the front-end.  
            </p>
        </figcaption>
      </figure>
      <figure class="figure">
        <img src="{% static 'becky.jpg' %}" class="figure-img img-fluid rounded" style="width: 400px; height: 600px; object-fit: cover; margin-left: 35px;" alt="...">
        <figcaption class="figure-caption">
            <a style="text-decoration: none; cursor: grab;" class="h5">Rebeccah Wambui</a>
            <br><br>
            <strong>Back-end Engineer</strong>
            <a href="https://www.linkedin.com/in/rebeccah-wambui-8394861a5/"><i class="btn-floating btn-sm fab fa-linkedin" style="font-size: 23px;"></i></a>
            <a href="https://github.com/Rebeccah5" class="btn-floating btn-sm text-white"><i class="fab fa-github" style="font-size: 23px; color:black"></i></a>
            <br><br>
            <p style="cursor: grab;">
                Rebeccah Wambui is a highly skilled and talented individual who excels in the field of backend engineering. Currently, she holds a position as a Backend Engineer at Twiga, a renowned technology company. With her expertise and dedication, Rebeccah plays a crucial role in developing robust and efficient backend systems that power various applications and services. She actively contributed to the design of the acclaimed Top Gz website, demonstrating her versatility and ability to go beyond traditional programming tasks. 
            </p>
        </figcaption>
      </figure>
      <figure class="figure">
        <img src="{% static 'vincent.png' %}" class="figure-img img-fluid rounded" style="width: 400px; height: 600px; object-fit: cover;margin-left: 35px;" alt="...">
        <figcaption class="figure-caption">
            <a style="text-decoration: none; cursor: grab;" class="h5">Kipronoh Vincent</a>
            <br><br>
            <strong>Full stack Engineer</strong>
            <a href="https://www.linkedin.com/in/kipronoh-vincent-b09979212/"><i class="btn-floating btn-sm fab fa-linkedin" style="font-size: 23px;"></i></a>
            <a href="https://github.com/KipronohVincent" class="btn-floating btn-sm text-white"><i class="fab fa-github" style="font-size: 23px; color:black"></i></a>
            <br><br>
            <p style="cursor: grab;">
                Vincent Kipronoh is a highly accomplished and versatile individual in the realm of web development. As a Full Stack Engineer, Vincent possesses a comprehensive skill set that encompasses both front-end and back-end technologies. His expertise allows him to tackle projects from end to end, ensuring seamless integration and optimal user experience. Vincent's contributions extend beyond his technical prowess. He also played a pivotal role in the design of the widely acclaimed Top Gz website.
            </p>
        </figcaption>
      </figure>
    </div>
<br><br><br>

{% include 'baseshop_footer.html' %}
</body>
</html>