{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEAVE US A COMMENT</title>
    <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="container">
    <div class="custom-container">
        <h3 class="display-3">
            <strong>Leave us a comment</strong><!-- page-header.css for custom container styling -->
        </h3>
    </div>
</div>
<br>
<div style="position: relative;">
    <div class="position-fixed">
        <div style="margin-left: 500px;" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                {% if user.userprofile.profile_picture %}
                    <img src="{{ user.userprofile.profile_picture.url }}" class="rounded me-2" style="width: 50px; height: 70px; object-fit: cover;">
                {% else %}
                    <h5> {{ request.user.username }}</h5>
                {% endif %}
                <strong class="me-auto"><a href="{% url 'orders:my_orders' %}" style="text-decoration: none; color: grey;">Order confirmed</a></strong>
                <small>...</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" style="color: black;">
                Order was placed successfully. Check email<br>
            </div>
        </div>
    </div>
</div>
<form class="site-form" action="{% url 'orders:leave_a_comment' %}" method="post">
    {% csrf_token %}
    <em style="font-weight: bold;">Comment (<small>Tell us about your shopping experience with Top Gz</small>)</em><br>
    {{ form.comment }}
    <br>
    <input type="submit" class="btn btn-outline-secondary" value="Comment" id="liveToastBtn">
</form>
<div class="d-grid gap-3">
    <div style="position: fixed; bottom: 50%; right: 0; transform: translate(0, 50%); color: grey;" class="toast-container p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4500">
            <div class="toast-header">
                <b>Posting comment</b>
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden"></span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p class="lead">
                    Sending your comment...
                </p>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
  // Show the toast
  $('.toast').toast('show');
});
</script>
<script src="{% static 'js/live_toast.js' %}"></script>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>
