{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ORDER COMPLETED</title>
  <link rel="stylesheet" href="{% static 'css/page-header.css' %}">
  <link rel="shortcut icon" href="{% static 'logo.ico' %}" type="image/x-icon">
</head>
<body>
{% include 'bootstrap.html' %}
{% include 'backToTop.html' %} <!--Back to Top button -->
<br><br>
<div class="custom-container">
    <h3 class="display-3">
        <strong>Order Placed successfully</strong><!-- page-header.css for custom container styling -->
    </h3>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="alert alert-info">
                <em>
                    An order confirmation email has been sent...<br>Check email
                </em>
            </div>
        </div>
    </div>
</div>
<br><br>
{% include 'baseshop_footer.html' %}
</body>
</html>
